html,body {
    width: 100%;
    height: 100%;
    font-family: 'Arimo', sans-serif;
    line-height:1.75em;
}
:root {
  --main-font-color: rgb(108,56,90);
  --main-hover-color: rgb(138,86,120);
}

/*---------- Navigation Bar ----------*/
.navbar{
    position: absolute;
    width: 100%;
    z-index: 10;
}
.my-nav{
    position: absolute;
    right: 0;
    top:0;
    display: inline-block;
    padding-right: 5px;
}
.my-nav li{
    padding: 20px 10px;
}
.my-nav li a{
    text-decoration: none;
    letter-spacing: 5px;
    font-size: 1.1em;
    color: GhostWhite;
    border-bottom: 2px solid transparent;
}
.my-nav li:after {
    text-decoration: none;
    content: '';
    display: block;
    height: 13px;
    width: 0;
    border-bottom: 2px solid transparent;
    transition: width .5s ease, border-bottom .5s ease;
}
.my-nav li:hover:after {
    width: 100%;
    border-bottom: 2px solid GhostWhite;
}
@media (max-width: 768px) {
    .my-nav li{
        padding: 10px 4px;
    }
    .my-nav li a{
        height: auto;
        letter-spacing: 2px;
        padding: 0 0;
        font-size: 0.95em;
    }
}

/*----------Landing Page ----------*/
.home {
    height: 100vh;
    width: 100vw;
    /* http://www.resplashed.com/img/5419b576decf.jpg */
    background: url('../img/montreal.png') no-repeat -99999px -99999px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.home:before {
    content: "";
    background-image: inherit;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-position: bottom;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    z-index: -1;
}
.text-vertical-center{
    color: GhostWhite;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.name {
    margin: 0;
    padding: 0;
    font-size: 3.5em;
    letter-spacing: 10px;
    font-weight: 500;
}
.occupation{
    font-size: 1.2em;
    letter-spacing: 2px;
}
.cursor1{
    font-size: 3.5em;
}
.cursor2{
    font-size: 1.2em;
}
/* Mobile Fix */
@media (max-width: 768px) {
    .name {
        font-size: 2.3em;
        letter-spacing: 5px;
    }
    .occupation{
        color: rgba(255,255,255,0.9);
        font-size: 1.1em;
        letter-spacing: 1px;
    }
    .cursor1{
        font-size: 2.3em;
    }
    .cursor2{
        font-size: 1.1em;
    }
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 1s infinite;
    -moz-animation: blink 1s infinite;
    animation: blink 1s infinite;
}
@keyframes blink{0% { opacity:1; }60% { opacity:0; }100% { opacity:1; }}
@-webkit-keyframes blink{0% { opacity:1; }60% { opacity:0; }100% { opacity:1; }}
@-moz-keyframes blink{0% { opacity:1; }60% { opacity:0; }100% { opacity:1; }}
/*---------- About Section ----------*/
.about {
    background-color: rgba(252,252,252,1);
    color:  #404040;
    padding: 50px 20px;
}
.titles a{
    font-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    color: var(--main-font-color);
}
.titles a:hover, .titles a:focus, .titles a:active{
    color: var(--main-hover-color);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.aboutcontent, .school{
    text-decoration: none;
    color:  #404040;
    font-size: 1.1em;
    letter-spacing: 1px;
    font-family: 'Times New Roman', serif;
}
/*---------- Programming Section ----------*/
.programming{
    padding-top: 50px;
    padding-bottom: 0;
    min-height: 100vh;
    min-width: 100vw;
    color: GhostWhite;
}
/* Mobile Fix */
@media (min-width: 769px) {
    .programming{
        background-attachment: fixed;
    }
}
.titleswhite a{
    font-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    color: GhostWhite;
}
.titleswhite a:hover, .titleswhite a:focus, .titleswhite a:active{
    color: rgb(220,220,220);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.progcontent, .hobbiescontent{
    font-size: 1.1em;
    letter-spacing: 1px;
    font-family: 'Times New Roman', serif;
}
/*Circles*/
.progcircle{
    text-align: center;
    border: 2px solid transparent;
    color: GhostWhite;
}
/*icons*/
.progicon{
    color: GhostWhite;
}
.progcircle:hover, .progcircle:focus, .progcircle:active{
    border: 2px solid GhostWhite;
    border-radius: 1000px;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
}
.proglang{
    font-size: 1.1em;
    text-align: center;
    letter-spacing: 3px;
}
/*---------- Hobbies Section ----------*/
.crossfittext{
    text-align: left;
}
.crosssfitimg{
    right:0;
    padding-right: 0;
    margin: 0 auto;
}
.hobbyimg{
    width: 60%;
    left: 0;
    right: 0;
    margin: 0 auto;
   -webkit-filter: invert(0.99);
   filter: invert(0.99);
}
.cube{
    width: 30%;
    left: 0;
    right: 0;
    margin: 0 auto;
}
@media (max-width: 768px) {
    .hobbyimg{
        width: 100%;
    }
}
.proglink{
    font-family: 'Arimo', serif;
    letter-spacing: 2px;
    text-decoration: none;
    color: GhostWhite;
}
/*---------- Projects Section ----------*/
.projects{
    width: 100%;
    padding: 50px 20px 10px;
    background-color: rgba(252,252,252,1);
    color:  #404040;
}
.projheadercontent{
    font-family: 'Times New Roman', serif;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    letter-spacing: 1px;
    color:  #404040;
}
.projtitle{
    font-size: 1.5em;
    letter-spacing: 4px;
    color: var(--main-font-color);;
    text-decoration: none;
}
.projref, .projdate{
    font-family: 'Arimo', sans-serif;
    font-size: 0.95em;
    letter-spacing: 1px;
    text-decoration: none;
    color:  #404040;
}
.projcontent{
    text-decoration: none;
    color:  #404040;
    font-size: 1.1em;
    letter-spacing: 1px;
    font-family: 'Times New Roman', serif;
    text-align: left;
    margin-bottom: 0;
}
.verticalhr{
    border-left: solid 1px #eee;
}
/* Mobile Fix */
@media (max-width: 768px) {
    .projcontent{
        text-align: center;
    }
}

.projimg{
    max-width: 50%;
    right: 0;
    left: 0;
    margin: 0 auto;
    padding-bottom: 20px;
}
.angleup i{
    font-size: 3em;
    color: var(--main-font-color);;
}
.projtitle:hover, .projtitle:focus{
    color: var(--main-hover-color);;
    text-decoration: none;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.projimg:hover, .projimg:focus{
    opacity:0.7;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

/*---------- Footer Section ----------*/
.footer{
    background-color: rgba(40,40,40,1);
    position: relative;
    padding: 25px 0px;
    line-height: 10px;
    min-width: 100%;
    letter-spacing: 1px;
    font-size: 0.9em;
    color: rgb(102,102,102);
}
.footer p{
    margin-bottom: 14px;
}
.social li a{
    color: rgb(102,102,102);
    font-size: 0.65em;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    transition: all 0.8s;
}
.email a, .email{
    color: rgb(102,102,102);
}
.text-muted{
    color: rgb(102,102,102);
}
.school:hover, .email a:hover, .school:focus, .email a:focus, .social li a:hover, .social li a:focus, .projref:hover, .projref:focus, .proglink:hover, .proglink:focus {
    text-decoration: none;
    color: var(--main-hover-color);;
}
/* Underline On Titles*/
.titles, .titleswhite{
    display: inline-block;
    position: relative;
    color: rgb(120,120,200);
}
.titles:after, .titleswhite:after {
    content: '';
    display: block;
    margin: auto;
    height: 18px;
    width: 0;
    border-bottom: 2px solid transparent;
    transition: width .5s ease, border-bottom .5s ease;
}
.titles:hover:after{
    border-bottom: 2px solid rgb(138,86,120);
    width: 200px;
}
.titleswhite:hover:after{
    border-bottom: 2px solid rgb(220,220,220);
    width: 200px;
}
