html, body{
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  flex-direction: column;
}
.block{

}
/***** Landing *****/
.header{
  min-height:100vh;
  max-width: 100vw;
  transform: translateY(25vh);
}
blockquote {
    border-left-color: rgb(247,138,73)!important;
}

/***** Projects *****/
.tabs .tab a {
	color: rgb(66,66,66);
	font-size: 1em;
}
.tabs .tab a:hover, .tabs .tab a.active{
	color: rgb(247,138,73);
}
.tabs .indicator {
	background-color: rgb(251,168,118);
}

.card-image{
	height: 100%;
}
.card-image h1:hover, .card-image h1:focus{
	cursor: pointer;
}

/***** Footer *****/
.fa{
  font-size:1.25em;
}
.social ul li a{
  color: white;
}
.fa-chevron-left, .fa-chevron-right, .fa-heart{
   font-size: 1em;
}
.footer-copyright div div div a{
   font-weight: bold;
   color: inherit;
   cursor: pointer;
}

/***** Common *****/
.social ul li a:hover, .social ul li a:focus, .links a:hover, .links a:focus{
	-webkit-transition: color .28s ease;
	transition: color .28s ease;
	color: rgb(251,168,118)!important;
}
