/* --- */
/* nav */
/* --- */
/* overide the nav default min-height of 80px */
.uk-navbar-item{
    min-height: 60px;
}

/* ------------ */
/* render email */
/* ------------ */
secret-stuff::before {
    content: attr(data-user) "\0040";
}
secret-stuff::after {
    content: attr(data-domain);
}

/* ------------- */
/* Common Shtuff */
/* ------------- */
/* active link color */
.uk-camel, .active{
    color: rgb(232, 142, 86) !important;
    /* rgb(207, 117, 61) 👈slightly darker*/
}
/* overide html hightlight color */
::selection {
    background: rgb(232, 142, 86);
}
/* overide dark background color */
.uk-background-secondary{
    background-color:rgb(51, 51, 51) !important;
}
/* set the default cursor to default (arrow)*/
.cursor-default{
    cursor: default;
}
