/* ------- */
/* globals */
/* ------- */
html, body {
  background-color: rgb(51, 51, 51);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --main-color: rgb(232, 142, 86);
}

/* ------------ */
/* landing page */
/* ------------ */
.uk-heading-bullet::before {
  border-left: 4px solid var(--main-color) !important;
}

/* --- */
/* nav */
/* --- */
/* overide the nav default min-height of 80px */
// .uk-offcanvas-bar{
//   background-color: red;
// }
.uk-navbar-item {
  min-height: 60px;
}

/* ------------ */
/* render email */
/* ------------ */
secret-stuff::before {
  content: attr(data-user) "\0040";
}

secret-stuff::after {
  content: attr(data-domain);
}

/* ------------- */
/* Common Shtuff */
/* ------------- */
.link {
  color: var(--main-color) !important;
}
/* active link color */
a:hover { //.uk-active a
  opacity: 0.8;
  transition-duration: 0.1s;
  // color: rgb(207, 117, 61) !important; // 👈slightly darker
}

/* overide html hightlight color */
::selection {
  background: var(--main-color);
}
/* overide dark background color */
.uk-background-secondary {
  background-color: rgb(51, 51, 51) !important;
}
/* set the cursor to default (arrow)*/
.cursor-default {
  cursor: default;
}
/* set the cursor to hand */
.cursor-arrow {
  cursor: arrow;
}
.mb-3 {
  margin-bottom: 3px;
}
// used for the uikit logo in the navbar
.text-dark-af {
  color: rgba(255, 255, 255, 0.3);
}
