/* ------- */
/* globals */
/* ------- */
body {
  background-color: rgb(34, 34, 34);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // --main-color: rgb(232, 142, 86);
  --main-color: rgb(232, 142, 86);
}

/* ------------ */
/* landing page */
/* ------------ */
.uk-heading-bullet::before {
  border-left: 4px solid var(--main-color) !important;
}

/* --- */
/* nav */
/* --- */
/* overide the nav default min-height of 80px */
// .uk-offcanvas-bar{
//   background-color: red;
// }
.uk-navbar-item {
  min-height: 60px;
}

/* ------------ */
/* render email */
/* ------------ */
secret-stuff::before {
  content: attr(data-user) "\0040";
}

secret-stuff::after {
  content: attr(data-domain);
}

/* ------------- */
/* Common Shtuff */
/* ------------- */
// cuz bolder is better
h1, h2, h3, h4, h5, h6, .uk-nav-header, .uk-card-title {
  font-weight: 600;
}
// reset link colors
a {
  color: inherit;
  opacity: 1!important;
  font-weight: 600;
}

/* active link color */
a:hover {
  color: inherit;
  opacity: 0.8;
  transition-duration: 0.1s;
  // text-decoration: none;
}

/* overide html hightlight color */
::selection {
  background: var(--main-color) !important;
}
/* overide dark background color */
.uk-card-secondary {
  background-color: rgb(51, 51, 51) !important;
}
/* set the cursor to default (arrow)*/
.cursor-default {
  cursor: default;
}
/* set the cursor to hand */
.cursor-arrow {
  cursor: arrow;
}
.mb-3 {
  margin-bottom: 3px;
}
// used for the uikit logo in the navbar
.text-dark-af {
  color: rgba(255, 255, 255, 0.3);
}
