doctype html
html
  head
    meta charset="utf-8"
    /! Let browser know this website is optimized for mobile
    meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
    /! Meta Info
    title kcamel.com
    meta name="description" content="Portfolio of kevin camellini"
    meta name="keywords" content="kevin camellini, kevin, camellini, crossfit, software, engineer, engineering,developer,programmer, concordia, university, montreal, canada"
    meta name="author" content="Kevin Camellini"
    /! Favicon
    link rel="icon" type="image/png" href="img/camel.png"
    /! style sheet
    link type="text/css" rel="stylesheet" href="css/style.css"
  body
    /! Landing
    div.grey.lighten-5
      div.container
        div.row
          div.header
            /! valign-wrapper
            h1.grey-text.text-darken-3 Kevin Camellini
            blockquote.grey-text.text-darken-3 Soen - Concordia - Montreal - Canada
    /! End Landing

    /! Content
    div.grey.lighten-4
      /! Tabs
      ul.tabs.tabs-fixed-width.grey.lighten-4
        li.tab.col.s3
          a href="#rails" Rails
        li.tab.col.s3
          a href="#hack" Hackathons
        li.tab.col.s3
          a href="#php" PHP
        li.tab.col.s3
          a href="#js" JS
        li.tab.col.s3
          a href="#html" HTML
        li.tab.col.s3
          a href="#extra" Extracurricular
      /! End Tabs

      /! Projects
      /!rails
      div#rails.container.col.s12
        div.row.pt-5.pb-3
          div.onesocial
          div.driverrank
      /!php
      div#php.container.col.s12
        div.row.pt-5.pb-3
          div.exambank
          div.classifiedz
          div.quotifier
      /!js
      div#js.container.col.s12
        div.row.pt-5.pb-3
          div.twitter
          div.metro
          div.kitty
          div.emojify
          div.clock
          div.converter
      /!html
      div#html.container.col.s12
        div.row.pt-5.pb-3
          div.ppa
          div.cpi
          div.minicalc
          div.cena
          div.eadings
      /!extra
      div#extra.container.col.s12
        div.row.pt-5.pb-3
          div.algotime
          div.space
      /!hack
      div#hack.container.col.s12
        div.row.pt-5.pb-3
          div.famingo
          div.storyflow
          div.trippy
      /! End Projects
    /! End Content

    /! Footer
    footer.page-footer.grey
      /! Footer Callout
      div.container
        div.row
          div.col.s12.social
            h5.grey-text.text-lighten-4 Contact Me
            ul.list-inline
              li.list-inline-item
                a.grey-text.grey-text.text-lighten-4 href="https://1social.me/kcamel" target="_blank"
                  strong 1Social.me/kcamel
      /! Footer Copyright
      div.footer-copyright
        div.container
     			div.row.mb-0
     				div.col.s12.signature Made with lots of ❤️ and ☕️ by Kevin Camellini
    /! scripts
    script src="js/script.js"
